Header
  .inner-header.border-bottom.p-3
    .container
      .row
        .col-8
          .inner-logo
            img( style="max-width:150px" src="https://res.cloudinary.com/dygsbwyjo/image/upload/v1765963478/Gemini_Generated_Image_po5ntrpo5ntrpo5n_k01pti.png", alt="logo")

        .col-4
          .inner-menu 
            ul(class="nav justify-content-end")
              li(class="nav-item")
                a(class="nav-link" href="") Trang Chủ 
              li(class="nav-item")
                a(class="nav-link" href="") Sản Phẩm
              li(class="nav-item")
                a(class="nav-link" href="") Liên Hệ
