Header
  .inner-header.border-bottom.p-3
    .container
      .row
        .col-8
          .inner-logo
            img(class="w-25" src="https://cdn.daca.vn/media/logo/logo.svg", alt="logo")

        .col-4
          .inner-menu 
            ul(class="nav justify-content-end")
              li(class="nav-item")
                a(class="nav-link" href="") Trang Chủ 
              li(class="nav-item")
                a(class="nav-link" href="") Sản Phẩm
              li(class="nav-item")
                a(class="nav-link" href="") Liên Hệ
