mixin multi-sort(sortOptions)
  .input-group.w-25
    select(name="type" class="form-select" select-sort)
      option(disable selected value="") -- chọn sắp xếp -- 
      each item in sortOptions
        option(value=item.value) #{item.name}
    button(type="button" class="btn btn-danger" btn-sort) áp dụng