extends ../../layout/default
include ../../mixins/box-head.pug

block main
  +box-head("Dashboard")
  h1 Nội Dung Chính Của Trang
  p Phần này sẽ cuộn lên xuống.
  p(style="height: 1200px;") ... Nội dung rất dài để kiểm tra thanh cuộn ...
  p Kết thúc nội dung.