.inner-sider.position-fixed.opacity-75
  .sidebar.bg-dark.text-white.p-3.h-100
    ul.nav.flex-column
      li.nav-item
        a.nav-link.text-white.border-bottom.border-1(href=`${prefixAdmin}/dashboard`) Dashboard
      li.nav-item
        a.nav-link.text-white.border-bottom.border-1(href=`${prefixAdmin}/products`) Sản phẩm

